{% extends 'base.html' %}
{% block titulo %} {{ post.titulo_post|title }} | {% endblock %}
{% block conteudo %}


<!-- POST -->
<div class="container">
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8 text-center">
            <h2>{{ post.titulo_post }}</h2>
            <h5>{{ post.excerto_post }}</h5>
            <p class="text-muted mt-4">
                <small>
                    <i class="far fa-user-circle"></i> {{ post.autor_post.first_name }} {{ post.autor_post.last_name }}
                    |
                    <i class="far fa-calendar-alt"></i> {{ post.data_post }} |
                    <i class="fas fa-laptop-code"></i> {{ post.categoria_post }}
                </small>
            </p>
        </div>
        <div class="col-xl"></div>
    </div>

    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">

            {% if post.imagem_post %}

            <img class="card-img-top" src="{{ post.imagem_post.url }}" alt="{{ post.titulo_post }}">

            {% endif %}

            <div class="conteudo">
                {{ post.conteudo_post|safe }}
            </div>

        </div>
        <div class="col-xl"></div>
    </div>

    {% if comentarios %}
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Comentários <i class="far fa-comments"></i> ({{ comentarios.count }})</h2>
            <hr>

            {% for comentario in comentarios %}
            <div class="cm">

                <div class="conteudo-cm">
                    <h5 class="mb-2 mt-5"><i class="far fa-user-circle"></i> {{ comentario.nome_comentario }} disse:
                    </h5>
                    <small class="text-muted"><i class="far fa-calendar-alt"></i> {{ comentario.data_comentario }}</small>
                    <p class="content mb-1">{{ comentario.comentario }}</p>
                    <hr class="hr">
                </div>

            </div>

            {% endfor %}
        </div>
        <div class="col-xl"></div>
    </div>
    {% endif %}

    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Deixe um comentário</h2>

            <form method="POST" action="#envia_comentario">
                {% csrf_token %}
                <table class="table">

                    {{form}}

                    <tr>
                        <td colspan="2">
                            {% include 'parciais/_messages.html' %}
                            <button id="envia_comentario" type="submit" class="btn btn-primary"
                                value="Enviar comentário">Enviar comentário <i class="fas fa-check"></i></button>

                            <button type="reset" class="btn-del btn">Apagar <i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </table>
            </form>


        </div>
        <div class="col-xl"></div>
    </div>
    {% include 'parciais/_back_top.html' %}
</div>
<!-- POST -->


{% endblock %}